# Ignore all subfolders in QDSoftware
# Done to avoid saving custom results
/src/*

# Do NOT ignore important folders
!/src/raytracer/
!/src/input/
!/src/utils/
!/src/examples/
!/src/material_libraries/
!/src/visualizer/

# Ignore cached files
**/cachedCadOutput.mat

# Ignore profile results
**/profile_results*

## Useless/temporary files to ignore
# MATLAB
*.asv
*.m~

# Do NOT ignore main experiment files
!src/custom_scenarios/
src/custom_scenarios/*

!src/custom_scenarios/NistCallJanuaryIndoor1/
src/custom_scenarios/NistCallJanuaryIndoor1/*
!src/custom_scenarios/NistCallJanuaryIndoor1/Input/
!src/custom_scenarios/NistCallJanuaryIndoor1/runTimeTable*.mat

!src/custom_scenarios/NistCallJanuaryInterference/
src/custom_scenarios/NistCallJanuaryInterference/*
!src/custom_scenarios/NistCallJanuaryInterference/Input/
!src/custom_scenarios/NistCallJanuaryInterference/runTimeTable*.mat

!src/custom_scenarios/IwcmcLroom/
src/custom_scenarios/IwcmcLroom/*
!src/custom_scenarios/IwcmcLroom/Input/
!src/custom_scenarios/IwcmcLroom/runTimeTable*.mat

!src/custom_scenarios/IwcmcIndoor1/
src/custom_scenarios/IwcmcIndoor1/*
!src/custom_scenarios/IwcmcIndoor1/Input/
!src/custom_scenarios/IwcmcIndoor1/runTimeTable*.mat

!src/custom_scenarios/IwcmcParkingLot/
src/custom_scenarios/IwcmcParkingLot/*
!src/custom_scenarios/IwcmcParkingLot/Input/
!src/custom_scenarios/IwcmcParkingLot/runTimeTable*.mat

!src/custom_scenarios/ParkingLot/
src/custom_scenarios/ParkingLot/*
!src/custom_scenarios/ParkingLot/Input/

# Do NOT ignore QD traces generation and output processing scripts
!/src/custom_scenarios/*.m
