# Ignore all subfolders in QDSoftware
# Done to avoid saving custom results
/src/*

# Do NOT ignore important folders
!/src/raytracer/
!/src/input/
!/src/utils/
!/src/examples/
!/src/material_libraries/
!/src/visualizer/

# Ignore cached files
**/cachedCadOutput.mat

# Ignore profile results
**/profile_results*

## Useless/temporary files to ignore
# MATLAB
*.asv
*.m~

# Do NOT ignore main experiment files
!src/custom_scenarios/
src/custom_scenarios/*

!src/custom_scenarios/Journal1Lroom/
src/custom_scenarios/Journal1Lroom/*
!src/custom_scenarios/Journal1Lroom/Input/
!src/custom_scenarios/Journal1Lroom/runTimeTable*.mat

!src/custom_scenarios/Journal1Indoor1/
src/custom_scenarios/Journal1Indoor1/*
!src/custom_scenarios/Journal1Indoor1/Input/
!src/custom_scenarios/Journal1Indoor1/runTimeTable*.mat

!src/custom_scenarios/Journal1ParkingLot/
src/custom_scenarios/Journal1ParkingLot/*
!src/custom_scenarios/Journal1ParkingLot/Input/
!src/custom_scenarios/Journal1ParkingLot/runTimeTable*.mat

!src/custom_scenarios/Journal1GroundOnly/
src/custom_scenarios/Journal1GroundOnly/*
!src/custom_scenarios/Journal1GroundOnly/Input/
!src/custom_scenarios/Journal1GroundOnly/runTimeTable*.mat

# Do NOT ignore QD traces generation and output processing scripts
!/src/custom_scenarios/*.m
